<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>KWAltChapterImage</key>
	<string>KWAltChapterImage.tiff</string>
	<key>KWAltChapterSelectionImage</key>
	<string>KWAltChapterSelectionImage.tiff</string>
	<key>KWAltRootImage</key>
	<string>KWAltRootImage.tiff</string>
	<key>KWAltTitleSelectionImage</key>
	<string>KWAltTitleSelectionImage.tiff</string>
	<key>KWChapterButtonDisable</key>
	<false/>
	<key>KWChapterButtonFont</key>
	<string>Futura-CondensedExtraBold</string>
	<key>KWChapterButtonFontColor</key>
	<data>
	BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2JqZWN0AIWEAWMDhAJm
	ZgEBhg==
	</data>
	<key>KWChapterButtonFontSize</key>
	<real>48</real>
	<key>KWChapterButtonImage</key>
	<string>KWChapterButtonImage.tiff</string>
	<key>KWChapterButtonMaskImage</key>
	<string>KWChapterButtonMaskImage.tiff</string>
	<key>KWChapterButtonMaskLineWidth</key>
	<integer>2</integer>
	<key>KWChapterButtonMaskRect</key>
	<string>{{180, 226}, {360, 60}}</string>
	<key>KWChapterButtonRect</key>
	<string>{{180, 231}, {360, 60}}</string>
	<key>KWChapterButtonString</key>
	<string>Κεφάλαια</string>
	<key>KWChapterOverlayImage</key>
	<string>KWChapterOverlayImage.tiff</string>
	<key>KWChapterSelectionDisable</key>
	<false/>
	<key>KWChapterSelectionFont</key>
	<string>Futura-CondensedExtraBold</string>
	<key>KWChapterSelectionFontColor</key>
	<data>
	BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2JqZWN0AIWEAWMDhAJm
	ZgEBhg==
	</data>
	<key>KWChapterSelectionFontSize</key>
	<integer>24</integer>
	<key>KWChapterSelectionImage</key>
	<string>KWChapterSelectionImage.tiff</string>
	<key>KWChapterSelectionOverlayImage</key>
	<string>KWChapterSelectionOverlayImage.tiff</string>
	<key>KWChapterSelectionRect</key>
	<string>{{60, 480}, {122, 50}}</string>
	<key>KWChapterSelectionString</key>
	<string>Κεφάλαια:</string>
	<key>KWDVDNameDisableText</key>
	<false/>
	<key>KWDVDNameFont</key>
	<string>Futura-CondensedExtraBold</string>
	<key>KWDVDNameFontColor</key>
	<data>
	BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2JqZWN0AIWEAWMDhAJm
	ZgEBhg==
	</data>
	<key>KWDVDNameFontSize</key>
	<real>48</real>
	<key>KWDVDNameRect</key>
	<string>{{0, 440}, {720, 80}}</string>
	<key>KWDefaultImage</key>
	<string>KWDefaultImage.tiff</string>
	<key>KWNextButtonDisable</key>
	<false/>
	<key>KWNextButtonFont</key>
	<string>Futura-CondensedExtraBold</string>
	<key>KWNextButtonFontColor</key>
	<data>
	BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2JqZWN0AIWEAWMDhAJm
	ZgEBhg==
	</data>
	<key>KWNextButtonFontSize</key>
	<integer>24</integer>
	<key>KWNextButtonImage</key>
	<string>KWNextButtonImage.tiff</string>
	<key>KWNextButtonMaskImage</key>
	<string>KWNextButtonMaskImage.tiff</string>
	<key>KWNextButtonMaskLineWidth</key>
	<integer>2</integer>
	<key>KWNextButtonMaskRect</key>
	<string>{{244, 47}, {194, 50}}</string>
	<key>KWNextButtonRect</key>
	<string>{{244, 40}, {194, 50}}</string>
	<key>KWNextButtonString</key>
	<string>Επόμενο &gt;</string>
	<key>KWPreviousButtonDisable</key>
	<false/>
	<key>KWPreviousButtonFont</key>
	<string>Futura-CondensedExtraBold</string>
	<key>KWPreviousButtonFontColor</key>
	<data>
	BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2JqZWN0AIWEAWMDhAJm
	ZgEBhg==
	</data>
	<key>KWPreviousButtonFontSize</key>
	<integer>24</integer>
	<key>KWPreviousButtonImage</key>
	<string>KWPreviousButtonImage.tiff</string>
	<key>KWPreviousButtonMaskImage</key>
	<string>KWPreviousButtonMaskImage.tiff</string>
	<key>KWPreviousButtonMaskLineWidth</key>
	<integer>2</integer>
	<key>KWPreviousButtonMaskRect</key>
	<string>{{43, 47}, {194, 50}}</string>
	<key>KWPreviousButtonRect</key>
	<string>{{43, 40}, {194, 50}}</string>
	<key>KWPreviousButtonString</key>
	<string>&lt; Προηγούμενο</string>
	<key>KWRootOverlayImage</key>
	<string>KWRootOverlayImage.tiff</string>
	<key>KWScreenshotAtTime</key>
	<integer>10</integer>
	<key>KWSelectionImagesFont</key>
	<string>Futura-CondensedExtraBold</string>
	<key>KWSelectionImagesFontColor</key>
	<data>
	BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2JqZWN0AIWEAWMDhAJm
	ZgEBhg==
	</data>
	<key>KWSelectionImagesFontSize</key>
	<integer>12</integer>
	<key>KWSelectionImagesMaskLineWidth</key>
	<integer>2</integer>
	<key>KWSelectionImagesMaskRect</key>
	<string>{{68, 368}, {164, 124}}</string>
	<key>KWSelectionImagesMaskSeperationH</key>
	<integer>180</integer>
	<key>KWSelectionImagesMaskSeperationW</key>
	<integer>210</integer>
	<key>KWSelectionImagesOnAPage</key>
	<integer>6</integer>
	<key>KWSelectionImagesOnARow</key>
	<integer>3</integer>
	<key>KWSelectionImagesRect</key>
	<string>{{70, 370}, {160, 120}}</string>
	<key>KWSelectionImagesSeperationH</key>
	<integer>180</integer>
	<key>KWSelectionImagesSeperationW</key>
	<integer>210</integer>
	<key>KWSelectionImagesUseImage</key>
	<string>KWSelectionImagesUseImage.tiff</string>
	<key>KWSelectionMode</key>
	<integer>0</integer>
	<key>KWSelectionStringsFont</key>
	<string>Futura-CondensedExtraBold</string>
	<key>KWSelectionStringsFontColor</key>
	<data>
	BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2JqZWN0AIWEAWMDhAJm
	ZgEBhg==
	</data>
	<key>KWSelectionStringsFontSize</key>
	<integer>24</integer>
	<key>KWSelectionStringsImage</key>
	<string>KWSelectionStringsImage.tiff</string>
	<key>KWSelectionStringsMaskLineWidth</key>
	<integer>2</integer>
	<key>KWSelectionStringsMaskRect</key>
	<string>{{-1, -1}, {400, 40}}</string>
	<key>KWSelectionStringsMaskSeperation</key>
	<integer>50</integer>
	<key>KWSelectionStringsOnAPage</key>
	<integer>3</integer>
	<key>KWSelectionStringsRect</key>
	<string>{{-1, -1}, {720, 34}}</string>
	<key>KWSelectionStringsSeperation</key>
	<integer>50</integer>
	<key>KWStartButtonDisable</key>
	<false/>
	<key>KWStartButtonFont</key>
	<string>Futura-CondensedExtraBold</string>
	<key>KWStartButtonFontColor</key>
	<data>
	BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2JqZWN0AIWEAWMDhAJm
	ZgEBhg==
	</data>
	<key>KWStartButtonFontSize</key>
	<real>48</real>
	<key>KWStartButtonImage</key>
	<string>KWStartButtonImage.tiff</string>
	<key>KWStartButtonMaskImage</key>
	<string>KWStartButtonMaskImage.tiff</string>
	<key>KWStartButtonMaskLineWidth</key>
	<integer>2</integer>
	<key>KWStartButtonMaskRect</key>
	<string>{{180, 310}, {360, 60}}</string>
	<key>KWStartButtonRect</key>
	<string>{{180, 310}, {360, 60}}</string>
	<key>KWStartButtonString</key>
	<string>Έναρξη</string>
	<key>KWThemeTitle</key>
	<string>Προεπιλογή</string>
	<key>KWTitleButtonDisable</key>
	<false/>
	<key>KWTitleButtonFont</key>
	<string>Futura-CondensedExtraBold</string>
	<key>KWTitleButtonFontColor</key>
	<data>
	BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2JqZWN0AIWEAWMDhAJm
	ZgEBhg==
	</data>
	<key>KWTitleButtonFontSize</key>
	<real>48</real>
	<key>KWTitleButtonImage</key>
	<string>KWTitleButtonImage.tiff</string>
	<key>KWTitleButtonMaskImage</key>
	<string>KWTitleButtonMaskImage.tiff</string>
	<key>KWTitleButtonMaskLineWidth</key>
	<string>2</string>
	<key>KWTitleButtonMaskRect</key>
	<string>{{180, 226}, {360, 60}}</string>
	<key>KWTitleButtonRect</key>
	<string>{{180, 226}, {360, 60}}</string>
	<key>KWTitleButtonString</key>
	<string>Τίτλοι</string>
	<key>KWTitleSelectionDisable</key>
	<false/>
	<key>KWTitleSelectionFont</key>
	<string>Futura-CondensedExtraBold</string>
	<key>KWTitleSelectionFontColor</key>
	<data>
	BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2JqZWN0AIWEAWMDhAJm
	ZgEBhg==
	</data>
	<key>KWTitleSelectionFontSize</key>
	<integer>24</integer>
	<key>KWTitleSelectionImage</key>
	<string>KWTitleSelectionImage.tiff</string>
	<key>KWTitleSelectionOverlayImage</key>
	<string>KWTitleSelectionOverlayImage.tiff</string>
	<key>KWTitleSelectionRect</key>
	<string>{{50, 480}, {120, 50}}</string>
	<key>KWTitleSelectionString</key>
	<string>Τίτλοι:</string>
	<key>KWVideoNameDisableText</key>
	<false/>
	<key>KWVideoNameFont</key>
	<string>Futura-CondensedExtraBold</string>
	<key>KWVideoNameFontColor</key>
	<data>
	BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2JqZWN0AIWEAWMDhAJm
	ZgEBhg==
	</data>
	<key>KWVideoNameFontSize</key>
	<real>48</real>
	<key>KWVideoNameRect</key>
	<string>{{0, 440}, {720, 80}}</string>
</dict>
</plist>
